.texto-menor {
    font-size: 13px;
}

.ButtomCategoria {
    background-color: #9353FF;
    color: white;
    border: 0;
}

.mobile {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tablet {
    top: 0;
    left: 0;
    min-width: 758px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.texto-maior,
.icon {
    color: #DAFF01;
}

.divs-facilidades {
    width: 325px;
}