.texto-menor {
    font-size: 13px;
}

.ButtomCategoria {
    background-color: #9353FF;
    color: white;
    border: 0;
}
.texto-maior,
.icon {
    color: #DAFF01;
}

.divs-facilidades {
    width: 325px;
}