.texto-menor{
    font-size:13px;
}
.divs-facilidades{
    width: 325px;
}

.bg-black-custom{
    background-color: #000000; /* código de cor para preto, você pode substituir pelo código da cor desejada */
  color: #ffffff;
}